version: '3.8'

services:
  firebase:
    image: node:18
    container_name: firebase_emulator
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "5000:5000"   # Hosting
      - "5001:5001"   # Functions
      - "4000:4000"   # Emulator UI
    command: >
      sh -c "npm install -g firebase-tools &&
             cd functions && npm install &&
             cd .. &&
             firebase emulators:start --only hosting,functions"